<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breast Cancer Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Breast Cancer Prediction</h1>
        <div class="form-container">
            <form method="POST">
                {% for feature in feature_names %}
                    <label>{{ feature.replace("_"," ").title() }}:</label>
                    <input type="number" step="any" name="{{ feature }}" required>
                {% endfor %}
                <button type="submit">Predict</button>
            </form>

            <div class="result">
                {% if result %}
                    <h2>Prediction: {{ result }}</h2>
                    <h3>Probability: {{ probability }}</h3>
                {% endif %}
                <img src="{{ url_for('static', filename='images/class_imbalance.png') }}" alt="Class Imbalance" width="250">
                <img src="{{ url_for('static', filename='images/confusion_matrix.png') }}" alt="Confusion Matrix" width="250">
                <img src="{{ url_for('static', filename='images/roc_curve.png') }}" alt="ROC Curve" width="250">
            </div>
        </div>
    </div>
</body>
</html>
